<div class="card" style="height: 20rem ;width: 58rem; margin: 2rem auto ">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title"><%=@recipe.name%></h5>
    <p class="card-text"><%=@recipe.desciption%></p>
    <small><%= @recipe.chef.chefname %></small>
      <div class="pull-right">
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </div>
  </div>
  <div class="recipe-actions">
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe), 

                                                class: 'btn btn-xs btn-warning' %>
  <%= button_to "Delete this recipe", recipe_path(@recipe), method: :delete,
                                    data: { confirm: "Are you sure you want to delete?" },
                                    class: "btn btn-xs btn-danger" %>
</div>  
<%= link_to "return to recipes listing", recipes_path %> 
</div>